body {
  height: 100vh;
  background-color: tan;
  border: 1px solid black;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* overflow: hidden; */
}
.asideOne, .asideTwo, .asideOneItems, .asideTwoItems {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
}
.asideOne, .asideTwo {
  display: flex;
  justify-content: space-evenly;
}
.statsContent, .difficultyContent, .musicContent {
  text-align: center;
  background-color: aquamarine;
  opacity: 0.7;
  margin: 1vmin auto;
}
main {
  background-color: palevioletred;
  border: 1px solid black;
  box-sizing: border-box;
}
.cardsContainer {
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 25%;
  width: 25%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image {
  height: 97%;
  width: 97%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  position: absolute;
  box-sizing: border-box;
}
.cardFace {
  /* background-color: rgb(0, 0, 0); */
  z-index: 2;
  border: none;
  animation: rotation 4s infinite linear;
}  
@keyframes rotation {
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.cardFaceBackground {
  background-color: black;
  z-index: 1;
}
.hidden {
  display: none;
}
.winModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
}
.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightskyblue;
  padding: 1rem 1.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  text-align: center;
}
.resetGame {
  border-radius: 4px;
  background-color: whitesmoke;
  border: 3px solid black;
  color: black;
  text-align: center;
  font-size: 4vh;
  padding: 20px;
  width: 60%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.resetGame:hover {
  background-color: red;
}
.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  body {
    flex-direction: row;
  }
  .asideOne, .asideTwo {
    flex-direction: column;
    width: 21%;
    height: 99vh;
  }
  .statsContent, .difficultyContent, .musicContent {
    height: 10vmin;
    width: 90%;
    line-height: 10vmin;
    font-size: 5vmin;
  }
  .bannerContent {
    width: 100%;
    height: 50vmin;
    background-image: url('../images/cowboy_bebop_art_portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  main {
    width: 99vh;
    height: 99vh;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  body {
    flex-direction: column;
  }
  .asideOne, .asideTwo {
    flex-direction: row;
    width: 99vw;
    height: 21%;
  }
  .statsContent, .difficultyContent, .musicContent {
    height: 10vmin;
    width: 90%;
    line-height: 10vmin;
    font-size: 5vmin;
  }
  .bannerContent {
    height: 100%;
    width: 55vmin;
    background-image: url('../images/cowboy_bebop_art_landscape.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  main {
    width: 99vw;
    height: 99vw;
  }
}